{{#section}}
	Đăng nhập
{{/section}}

 <div id="id01" class="modal">
    <form id="form-login" class="modal-content animate"  method="post" action="/login">
        <div class="imgcontainer">
            <img src="image/avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input id="username" type="text" placeholder="Enter Username" name="uname" required>
            <label for="psw"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="psw" required>
            <div class="g-recaptcha" data-sitekey="6LedT9wSAAAAAJnR8DTfGReNvTgliYWy3MZDb7f3"></div>
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</div>